@inject NavigationManager Navigation

<tr>
    <th>@Currency</th>
    <th>@String.Format("{0: 0.000}", Amount)</th>
    <th>@String.Format("{0: 0.000}", UsdAmount)</th>
    <th>
        <AuthorizeView Roles="@UsersRole.USER">
        <button class="btn btn-primary" @onclick="@ModalShow">Deposit</button>
        @if (showDepositModal)
        {
            <DepositModal OnDepositCreated="@HandleOnDepositCreated" CurrencyId="@Currency" />
        }
        </AuthorizeView>
        <AuthorizeView Roles="@UsersRole.ADMIN">
            <button class="btn btn-primary" @onclick="GoToCurrencyTransactions">Transactions</button>
        </AuthorizeView>
    </th>
</tr>

@code {
    [Parameter] public string Currency { get; set; }
    [Parameter] public decimal Amount { get; set; }
    [Parameter] public decimal UsdAmount { get; set; }
    [Parameter] public int? UserId { get; set; }

    private bool showDepositModal;

    private void GoToCurrencyTransactions()
    {
        if(UserId is not null)
            Navigation.NavigateTo($"/transactions/{UserId}/{Currency}");
    }

    private void ModalShow()
        => showDepositModal = true;

    private void HandleOnDepositCreated()
        => showDepositModal = false;

}
